# Directories
.vs/
bin/
bin-int/
packages/
Intel® VTune™ Profiler Results/
vcpkg_installed/

# Files
#*.vcxproj
#*.vcxproj.user
#*.vcxproj.filters
#*.sln
*.cso
*.cap
content/
assets/
saves/
imgui.ini
*.aps
*.rc
debug.log

# Exclude
!vendor/bin